<h1><%=t(:listing_users) %></h1>

<table>
  <tr>
    <th><%=t(:username) %></th>
  </tr>

  <% if @users
        @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= link_to t(:show), controller: 'users', action: 'show', id: user.id %></td>
          </tr>
      <% end %>
  <% end %>
</table>

<%= render 'link' %>


<p><%= current_user.name %></p>

